.footer {
    background-color: rgba(0, 0, 0, 0.863);
    height: 21vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    color: seashell;
}

span {
    color: rgb(251, 251, 251);
}
